
body{
background-image: url(../imagens/agricultura.jpg);
background-repeat: no-repeat;
background-size: cover;
}


.centro{
display: absolute;
top: 50%;
transform: translate(-50%,-50%);
position: absolute;
left: 30%;
}

.caixa {
width: 35vw;
height: 25vh;
border: 1px;
border-color: grey;
border-style: solid;
border-width: 3px;
background-color:rgba(128, 134, 133, 0.342);
border: 1px;
}

.alinha_caixa{
display: absolute;
top: 50%;
transform: translate(-50%,-50%);
position: absolute;
left: 45%;
}

.espaco_itens{
margin-bottom: 15px;
width: 100%;
}

.text_box_style{
border-radius: 5px;
height: 5vh;
width: 20vw;
background-color: rgba(255, 255, 255, 0.5);
font-size: large;
margin-top: 18px; 

}



