* {
    margin: 0;
    padding: 0;
}

    body{
    overflow-x: hidden;
    background-image: url("../imagens/fundo-cafe.png");
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

/* Começo nav */

span img{
    width: 100px;
    height: 100px;
    margin-left: 20px;
}

nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    width: 200px;
    background: rgba(0, 0, 0, .3);
    transform: translate3d(-200px, 0, 0);
    transition: transform 0.4s ease-in;
}
.active-nav nav {
    transform: translate3d(0, 0, 0);
}
nav ul {
    list-style: none;
    margin-top: 100px;
}
nav ul li a {
    text-decoration: none;
    display: block;
    text-align: center;
    color: #fff;
    padding: 10px 0;
}

.nav-toggle-btn {
    display: block;
    position: absolute;
    left: 220px;
    top: 20px;
}
.nav-toggle-btn img{
    height: 40px;
}

.content {
    padding-top: 300px;
    height: 325px;
    text-align: center;
    transition: transform 0.4s ease;
}
.active-nav .content {
    transform: translate3d(200px, 0, 0);
}

.links a{
    background: rgba(0, 0, 0, .3);
    text-align: left;
    padding-left: 20px;
    margin-bottom:2px ;
    opacity: 0.5;
}
.links span{
    position: absolute;
    background: rgba(0, 0, 0, .3);
    color: white;
    width: 180px;
    height: 40px;
    top:2%;
    padding-top: 20px;
    padding-left: 20px;
    text-align: left;
}

.links a:hover{
    opacity:1;
}

.Suporte{
    position: absolute;
    top: 60%;
    width: 200px;   
}

/* Final nav */

/* Titulo da página */

.content h1{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #feca57;
    padding-top: 1%;
    height: 15%;
    width: 40%;
    left: 30%;
    top: 11%;
}

.content h2{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: #feca57;
    height: 15%;
    width: 40%;
    left: 30%;
    top: 4%;
}

.FundoSomos{
    position: absolute;
    text-align: left;
    padding: 3% 2%;
    top: 20%;
    left: 19%;
    width: 59%;
    height: 50%;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 40px;
}

.apresentação{
    font: 400 1.3rem/1.7 Roboto,Arial,Helvetica,Sans-serif; 
    color: white;
}

.apresentação a{
    text-decoration: none;
    color: #feca57;
}

/* Caixa dois */

.content1 h2{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #feca57;
    height: 15%;
    width: 40%;
    left: 39%;
    top: 94%;
}

.FundoSomos1{
    position: absolute;
    text-align: left;
    padding: 3% 2%;
    top: 103%;
    left: 19%;
    width: 59%;
    height: 98%;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 40px;
    margin-bottom: 10%;
}

.apresentação1{
    font: 400 1.3rem/1.7 Roboto,Arial,Helvetica,Sans-serif; 
    color: white;
}

.apresentação1 img{
    position: absolute;
    height: 23%;
    width: 22%;
    border-radius: 4%;
    margin-top: 4%;
    left: 8%;
}

.apresentação1 .exportados p{
    position: absolute;
    top: 19%;
    left: 34%;
}

.apresentação1 .exportados ul{
    position: absolute;
    top: 25%;
    left: 37%;
    padding: 0PX;
}

.apresentação1 .consumidos p{
    position: absolute;
    top: 19%;
    left: 70%;
}

.apresentação1 .consumidos ul{
    position: absolute;
    top: 25%;
    left: 72%;
    padding: 0PX;
}

.problema{
    position: absolute;
    top: 47%;
    left: 43%;
    font-size: 25px;
    color: #feca57;
}

.conteudo1{
    position: absolute;
    top: 53%;
}

.solução{
    position: absolute;
    top: 67%;
    left: 43%;
    font-size: 25px;
    color: #feca57;
}

.conteudo2{
    position: absolute;
    top: 73%;
}