* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-image: url("../imagens/fundo-cafe.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}

span img{
    width: 80px;
    height: 80px;
    margin-left: 20px;
}

/* Começo nav */
nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    width: 200px;
    background: rgba(0, 0, 0, .3);
    transform: translate3d(-200px, 0, 0);
    transition: transform 0.4s ease-in;
}



.active-nav nav {
    transform: translate3d(0, 0, 0);
    background-color: rgba(44, 35, 35, 0.3);
}
nav ul {
    list-style: none;
    margin-top: 20px;
}
nav ul li a {
    text-decoration: none;
    display: block;
    text-align: center;
    color: #fff;
    padding: 10px 0;
}

.nav-toggle-btn {
    display: block;
    position: absolute;
    left: 220px;
    top: 20px;
}
.nav-toggle-btn img{
    height: 40px;
}

/* .content {
    padding-top: 300px;
    height: 325px;
    transition: transform 0.4s ease;
} */
/* .active-nav .content {
    transform: translate3d(200px, 0, 0);
} */

.links li a{
    background: rgba(0, 0, 0, .3);
    text-align: left;
    padding-left: 20px;
    margin-bottom:2px ;
    opacity: 0.5;
    border-radius: 8px;
    margin-bottom: 10px;

}
/* .links span{
    position: absolute;
    background: rgba(0, 0, 0, .3);
    color: white;
    width: 180px;
    height: 40px;
    top:2%;
    padding-top: 20px;
    padding-left: 20px;
    text-align: left;
} */

.links a:hover{
    opacity:1;
}

.Suporte{
    position: absolute;
    top: 60%;
    width: 200px;
}

a:link
{
text-decoration:none;
}
a { color: inherit; } 


/* Final nav */
/* ******************************* */

.FundoSimulador{
    position: absolute;
    padding-top:1% ; 
    left: 29%;
    top: 37%;
    width: 42%;
    height: 48%;
    border-radius: 5%;
    background-color: rgba(44, 35, 35, 0.3);
}

.FundoSimulador input{
    position: relative;
    display: block;
    margin-bottom: 9%;
    font-size:16px;
    border: 1 yellow;
    left: 5%;
    top: 3%;
    width: 48%;
    height: 8%;
    padding: 3px;
    color: white;
    background-color: rgba(0, 0, 0, .9);
    outline-color: yellow;
}

.FundoSimulador button{
    position: absolute;
    border: solid 1px;
    top: 80%;
    right: 36%;
    cursor: pointer;
    padding: 1%;
    width: 35%;
    height: 11%;
    font-weight: bold;
    background: transparent;
    color: #feca57;
    left: 34%;
}

.FundoSimulador h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #feca57;
    margin-bottom: 2vh;
    left: 42%;
    position: relative;
}

/* Posição da mensagem do Simulador */
.PerdaSimulador{
    position: absolute;
    text-align: left;
    top: 80%;
    left: 5%;
    width: 90%;
    height: 15%;
    padding-top: 2%;
    color: white;
}

.FundoSimulador label{
    color: white;
    position: relative;
    left: 7%;
    font-size: 3vh;
}

.caixa{
    font-family: Arial, Helvetica, sans-serif;
    border: solid 0;
    position: absolute;
    top: 8%;
    left: 24%;
    color: white;
    background-color: rgba(44, 35, 35, 0.3);
    border-radius: 12px;
    width: 53%;
    height: 24%;
}

.caixa h2{
    text-align: center;
    font-size: 4vh;
    color: #feca57;
}

.caixa p{
    position: relative;
    left: 3%;
    font-size: 3vh;
}

.inner{   
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    left: 53%;
    top: 49%;
    z-index: 2;
    font-size: 24px;
}