body{
    margin: 0%;
    padding: 0%;
   
}

.Fundo{
    background-image: url(../imagens/fundoazul.jpg);
    /* background-color: rgb(255, 255, 255); */
    height: 100vh;
    width: 100vw;
    background-size: cover; ;
    
}


/* começo barra lateral */
.barralateral{
    position: absolute;
    background-image: linear-gradient(45deg, rgb(231, 230, 240), rgb(7, 10, 167));
    /* background-color: rgba(31, 9, 155, 0.664); */
    height:91.2%;
    width: 150px;
    padding: 2%;
}

.FundoLogo{
    position: relative;
    top: 10%;
    background-color: rgba(0, 0, 0, 0.301);
    height: 90px;
    width: 145px;

}

.FundoCadastro{
    position: relative;
    top: 15%;
    background-color:  rgba(0, 0, 0, 0.301);
    height: 90px;
    width: 145px;
}

.FundoCadastro a{
    position: relative;
    top: 40%;
    left: 10%;
}

.FundoSimular{
    position: relative;
    top: 20%;
    background-color:  rgba(0, 0, 0, 0.301);
    height: 90px;
    width: 145px;
}

.FundoSimular a{
    position: relative;
    top: 30%;
    left: 10%;
}

.FundoSomos{
    position: relative;
    top: 25%;
    background-color:  rgba(0, 0, 0, 0.301);
    height: 90px;
    width: 145px;  
}

.FundoSomos a{
    position: relative;
    top: 40%;
    left: 15%;
}

 .barralateral a{
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    opacity:0.8;
} 

.barralateral a:hover{
    opacity: inherit;
}

.barralateral div{
    opacity:0.8;
}
.barralateral div:hover{
    opacity: 1;
}



/* final barra lateral */

/* Começo login */
.FundoLogin{
    background-image: linear-gradient(45deg, rgb(141, 127, 224), rgb(7, 10, 167));
    position: absolute;
    top: 20%;
    left: 40%;
    height: 380px;
    width: 330px;
    padding: 2%;
}

.posicaoinput{
    position: absolute;
    top: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
}

.FundoLogin input{
    margin-bottom: 20px;
    width: 330px;
    height: 20px;
}

.posicaBtA{
    position: absolute;
    top: 70%;
    width: 323px;
    height: 60px;
    padding: 1%;
}
.posicaBtA button{
    border: none;
    position: absolute;
    left: 40%;
    top: 20%;
    background: transparent;
    cursor: pointer;
    opacity:0.8;
    outline: none;
}

.posicaBtA button:hover{
    
    opacity:5;
}

.esquecer{
    position: absolute;
    top: 64%;
    left: 35%;
}



/* Final login */



/* @media (min-width:0px) and (max-width:500px){
    body{background-color: red;}
} */