*{
    padding: 0;
    margin: 0;
    /* aqui estou dizendo que todos os elementos possuem largura e altura igual a zero */
}

.fundo{
    height: 100vh;
    width: 100vw;
    background-image:url("http://c1.peakpx.com/wallpaper/19/745/157/iowa-farm-sunset-dusk-evening-sky-wallpaper.jpg");
    background-size: cover;
    background-position: center;

}

nav{
    margin: 0 auto;
    height: 58px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.42);
    color: white;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav .btn_link{
    float: right;
    display: block;
    margin-right: 10vw;
    position: static;
    margin-top: 20px;
}

nav .btn_logo{
    display: block;
    margin-right: 10vw;
    position: static;
    margin-left: 5px;
    position: absolute;
    padding-top: 5px;
    margin-top: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}

nav .posiacao_a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    margin-top: 5px;
    padding-top: 5px;
} 
/* Posição e fundo dos inputs */




.caixa{
    border: solid 1px;
    border-color: rgb(7, 2, 24);
    background-color:rgba(162, 214, 235, 0.5);
    width: 300px;
    height: 290px;
    top: 22%;
    left: 38%;
    position: absolute;
}

.titulo{
    color: black;
    text-align: center;
    margin-top: 2vh;
    font-family:  sans-serif
}

.corpo_lista{
    position: relative;
    left: 5%;
    margin-top:  1.5vh;
    list-style-type: none
}

.corpo_lista input{
    width: 90%;
    margin-top: 2.5vh;
   
}

.borda{
    position: relative;
    top: 2.8vh
}

.cadastrar_armazém{
    position: relative;
    left:20%;
    width: 80px;
}

.voltar{
    position: relative;
    left:25%;
    width: 80px;
}
