*{
    padding: 0;
    margin: 0;
    /* aqui estou dizendo que todos os elementos possuem largura e altura igual a zero */
}

.fundo{
    height: 100vh;
    width: 100vw;
    background-image:url("http://c1.peakpx.com/wallpaper/19/745/157/iowa-farm-sunset-dusk-evening-sky-wallpaper.jpg");
    background-size: cover;
    background-position: center;

}

nav{
    margin: 0 auto;
    height: 58px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.42);
    color: white;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav .link_nav{
    float: right;
    display: block;
    margin-right: 10vw;
    position: static;
    margin-top: 20px;
}

nav .nav_logo{
    margin-right: 10vw;
    position: static;
    margin-left: 5px; /*Se diatancio da esquerda da borda 5px */
    position: absolute;
    padding-top: 5px; /*/*Deu uma dsitancia do topo de 5px*/
    margin-top: 5px; /*Deu uma dsitancia do topo de 5px*/
    text-decoration: none;  /*Tira o sublinado dos links*/
    text-transform: uppercase;/*Deixando as letras maisculas*/
    font-size: 14px; /*Editando o tamanho das letras*/
    cursor: pointer;
}

nav .posição_n{
    color: white; /*cor da letra*/
    text-decoration: none; /*Tira o sublinado dos links*/
    text-transform: uppercase; /*Deixando as letras maisculas*/
    font-size: 14px;  /*Editando o tamanho das letras*/
    cursor: pointer;
    margin-top: 5px; /*Se diatancio do topo da borda 5px */
    padding-top: 5px; /*Se diatancio do topo da borda 5px */
}

/*Lista*/

.caixa{
    border: solid 1px;
    border-color: black;
    background-color:rgba(162, 214, 235, 0.5);
    height: 277px;
    width: 299px;
    top: 22%;
    left: 38%;
    position: absolute;
}

.titulo{
    color: black;
    text-align: center;
    margin-top: 2vh;
    font-family: sans-serif
}

.corpo_list{
    position: relative;
    left: 8%;
    margin-top: 15px;
}

.inp_caixa1{
    width: 249px;
    height: 20px;
    margin-top: 0vh;
}

.inp_caixa2{
    width: 249px;
    height: 20px;
    margin-top: 3vh;
}

.inp_caixa3{
    width: 249px;
    height: 20px;
    margin-top: 3vh;
}

.inp_caixa4{
    width: 249px;
    height: 20px;
    margin-top: 3vh;
}

/*Botões*/

.btn_grao1{
    width: 87px;
    margin-left: 7vh;
    margin-top: 4vh;
}

.btn_grao2{
    width: 87px;
    margin-left: 6vh;
    margin-top: 4vh;
}