*{
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
}

nav{
    margin: 0 auto;
    height: 58px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.42);
    color: white;
    display: block;
    margin-bottom: 200px;
    
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn_link li{
    float: right;
    display: block;
    margin-right: 10vw;
    margin-top: 20px;
}

.btn_link{
    width: 100%;
}

nav .btn_logo{
    margin-left: 5px;
    position: absolute;
    padding-top: 5px;
    margin-top: 5px;
}

.btn_link a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}


.fundo {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url("http://c1.peakpx.com/wallpaper/19/745/157/iowa-farm-sunset-dusk-evening-sky-wallpaper.jpg");
    background-size: cover;
    background-attachment: fixed;
} 



.box_msg{
    float: right;
    position: relative;
    height: 10px;
    width: 100px;
    background-color: red;
    margin-right: 10%;

}

.grafico_temperatura{
    background-color: #ffffffeb;
    width: 80%;
    height: 50%;
    margin-left: 10%;
    
}

.grafico_umidade{
    margin-top: 5%;
    background-color: #ffffffeb;
    width: 80%;
    height: 50%;
    margin-left: 10%;
}

canvas 
{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}