
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Open Sans, Arial, sans-serif;
    overflow-x: hidden;
    /* background-color: rgba(88, 63, 30, 0.596); */
    background-image: url("../imagens/fundo7.jpg");
    background-size: cover;
    background-attachment: fixed;
}

/* Começo nav */

nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    width: 200px;
    background: #222;
    transform: translate3d(-200px, 0, 0);
    transition: transform 0.4s ease;
}
.active-nav nav {
    transform: translate3d(0, 0, 0);
}
nav ul {
    list-style: none;
    margin-top: 100px;
}
nav ul li a {
    text-decoration: none;
    display: block;
    text-align: center;
    color: #fff;
    padding: 10px 0;
}

.nav-toggle-btn {
    display: block;
    position: absolute;
    left: 200px;
    top: 20px;
}
.nav-toggle-btn img{
    height: 40px;
}

.content {
    padding-top: 300px;
    height: 325px;
    text-align: center;
    transition: transform 0.4s ease;
}
.active-nav .content {
    transform: translate3d(200px, 0, 0);
}


.links a{
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    background: #252525;
    color: rgb(255, 255, 255);
    text-align: left;
    padding-left: 20px;
    margin-bottom:2px;
    opacity: 0.5;
}
.links span{
    position: absolute;
    top:2%;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    background: #252525;
    width: 180px;
    height: 40px;
    color: #999;
    padding-top: 20px;
    padding-left: 20px;
    /* text-align: left; */
    
}
.links a:hover{
    opacity:1;
}

.Suporte{
    position: absolute;
    top: 80%;
    width: 200px;
   
}
/* Final nav */


/* Começo do fundo das informações */

.FundoPessoas{
    position: absolute;
    background-color: rgb(104, 109, 109);
    border-right: 2px solid #373737;
    border-bottom: 3px solid #1A1A1A;
    top:15%;
    left: 25%;
    width: 50%;
    height: 70%;
}

.FundoInputpessoas{
    border: solid 1px;
    position: absolute;
    top: 10%;
    left: 5%;
    height: 80%;
    width: 90%;
}


.dadosUse {
    border-bottom:solid 2px rgb(90, 89, 89);
    height: 40%;
    text-align: left;
    padding:1%;
}

.dadosUse label{
    display: block;
    margin-bottom: 2%;
    width: 11%;
    height: 14%;
    /* text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; faz as reticências no final(...)*/ 
}

.DadosEnde{
    height: 52.5%;  
    text-align: left;  
    padding: 1%;
    
}

.DadosEnde label{
    display: block;
    width: 11%;
    height: 14%;
    margin-bottom:1% ;
    
}





/* Final do fundo das informações */




